*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
*.suo
*.webinfo
*.user
*.dbproj.schemaview
*.docstates
*.gpState
*.dbmdl
[Tt]est[Rr]esult
[Bb]uild[Ll]og.*
*[Ll]og/
_notes
[Tt]humbs.db
.apdisk
*resharp*
*Resharper*
*ReSharper*
*.Load
*.NoLoad
*.~m2
*.cache
*/[Bb]in
*/obj
[Pp]ackages*
*.bak
*.scc
.vs
*.idea
*.local*
*.svn*
config/*local*
packages/*
data/Storage/
config/solr*
